.idea
backup/*
sources/datasets/emnist/*
sources/datasets/mnist/*
sources/datasets/figs/*
sources/datasets/grad_data/*
sources/datasets/sample_data/*
sources/rec_fed_grad/*
sources/rec_fed_sample_time/*
sources/_trash/*
sources/.trash/*
sources/_trash/*
sources/trash
sources/rec_fed_tmr_res/*
sources/trash/rec_fed_sample_time/*
sources/trash/rec_fed_tmr_res/*
mkfigs/figs
mkfigs/*.zip
pre_experiment/comp_A100_RTX3090

*/__pycache__/*
htr_test
example_learn
pre_experiment
sources/datasets/raw
sources/datasets/adult
sources/one_fl_scheme.bk
sources/fed_xgboost/test.py
sources/fed_xgboost/main.py
sources/helper_alg_backup.py